<!-- Filename: main.handlebars -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
      {{{body}}}
    </div>
    <script src="/public/js/jquery-2.1.4.min.js" charset="utf-8"></script> 
    <script src="/public/js/handlebars.js"></script>
    <script src="/public/js/fusioncharts_demo.js" charset="utf-8"></script>
    <script src="/public/js/fusioncharts.js"></script>
    <script src="/public/js/fusioncharts.charts.js"></script>
    <script src="/public/js/fusioncharts.theme.fint.js"></script>
</body>
</html>
